/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    width: 700px;
    margin: 0 auto;
    background: #336699
}

.title {
    font-size: 100px; 
    text-align: center;
    color: #FFFFFF;
    font-family: 'Caveat', cursive;
    text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}

.button_top_main  {
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    margin: auto; 
    border-radius: 50px;
    background: #BAD3FF;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}

.button_top_main:hover {
    background-color: #8EB8FF;
    color: black;
}

