/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    width: 100%;
    margin: 0 auto;
    background: #336699
}

.title {
    font-size: 100px; 
    text-align: center;
    color: #FFFFFF;
    font-family: 'Caveat', cursive;
    text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}

.button_top_main  {
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    margin: auto; 
    border-radius: 50px;
    background: #BAD3FF;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}

.button_top_main:hover {
    background-color: #8EB8FF;
    color: black;
}


.signup_index{
    margin: auto; 
    text-align: center;
}
.signup_index_title{
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    color: #FFFFFF;
}
.signup_index_column{
    font-weight: bold;
    width: 500px;
    margin: auto; 
    text-align: center;
    background: #BAD3FF;
    border: solid 5px; 
}
.signup_index_column p{
    margin: 40px 0 40px 0;
}
.signups_index_button  {
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    margin: auto; 
    border-radius: 50px;
    background: #BAD3FF;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}

.signups_index_button:hover {
    background-color: #8EB8FF;
    color: black;
}



.signups_new{
    margin: auto; 
    text-align: center;
}
.signups_new_title{
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    color: #FFFFFF;
}
.signups_new_column{
    font-weight: bold;
    width: 500px;
    margin: auto; 
    text-align: center;
    background: #BAD3FF;
    border: solid 5px; 
}
.signups_new_column p{
    margin: 40px 0 40px 0;
}
.signups_new_button  {
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    margin: auto; 
    border-radius: 50px;
    background: #BAD3FF;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}
.signups_new_button:hover {
    background-color: #8EB8FF;
    color: black;
}



.logins{
    margin: auto; 
    text-align: center;
}
.logins_title{
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    color: #FFFFFF;
}
.logins_column{
    font-weight: bold;
    width: 500px;
    margin: auto; 
    text-align: center;
    background: #BAD3FF;
    border: solid 5px; 
}
.logins_column p{
    margin: 40px 0 40px 0;
}
.logins_button  {
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    margin: auto; 
    border-radius: 50px;
    background: #BAD3FF;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}
.logins_button:hover {
    background-color: #8EB8FF;
    color: black;
}



.tasks_body{
    margin: auto; 
    text-align: center;
}
.tasks_title{
    font-size: 30px;
    font-family: 'Kiwi Maru', serif;
    color: #FFFFFF;
}
.tasks_column{
    font-weight: bold;
    width: 500px;
    margin: auto; 
    text-align: center;
    background: #BAD3FF;
    border: solid 5px; 
}
.tasks_column p{
    margin: 40px 0 40px 0;
}
.tasks_subtitle{
    font-size: 30px;
}
.tasks_item{
    font-size: 20px;
}
.tasks_button  {
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    margin: auto; 
    border-radius: 50px;
    background: #BAD3FF;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}
.tasks_button:hover {
    background-color: #8EB8FF;
    color: black;
}



.group_index{
    margin: auto; 
    text-align: center;
}
.group_index_title{
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    color: #FFFFFF;
}
.group_index_column{
    font-weight: bold;
    width: 500px;
    margin: auto; 
    padding: 10px 0 10px 0; 
    text-align: center;
    background: #BAD3FF;
    border: solid 5px; 
}
.chatroom {
    display: flex;
}
.chat_name{
    margin: 15px 30px 0 30px;
}
.chatroom_button  {
    float: right;
    font-size: 15px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    margin: 10px 10px 10px 10px; 
    border-radius: 50px;
    background: white;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}
.chatroom_button:hover {
    background-color: #dcdcdc;
    color: black;
}
.delete_button  {
    float: right;
    font-size: 15px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    margin: 10px 10px 10px 10px; 
    border-radius: 50px;
    background: #cd5c5c;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
.delete_button:hover {
    background-color: #b22222;
    color: white;
}
.group_index_button  {
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    margin: auto; 
    border-radius: 50px;
    background: #BAD3FF;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}
.group_index_button:hover {
    background-color: #8EB8FF;
    color: black;
}



.create_chat{
    margin: auto; 
    text-align: center;
}
.create_chat_title{
    font-size: 50px;
    font-family: 'Kiwi Maru', serif;
    color: #FFFFFF;
}
.create_chat_column{
    font-weight: bold;
    width: 500px;
    margin: auto; 
    text-align: center;
    background: #BAD3FF;
    border: solid 5px; 
}
.create_chat_column p{
    margin: 40px 0 40px 0;
}
.create_chat_button  {
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    margin: auto; 
    border-radius: 50px;
    background: #BAD3FF;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}
.create_chat_button:hover {
    background-color: #8EB8FF;
    color: black;
}



.chat_room{
    margin: auto; 
    text-align: center;
}
.chat_title{
    font-size: 50px;
    font-family: 'Kiwi Maru', serif;
    color: #FFFFFF;
}
.chat_message{
    font-weight: bold;
    width: 700px;
    margin: auto; 
    text-align: center;
    background: #BAD3FF;
    border: solid 5px; 
}
.chat_message p{
    margin: 40px 0 40px 0;
}
.message_right{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px
}
.message_right p{
    max-width: 25em;
    word-wrap: break-word;
    border-radius: 50px;
    background: #adff2f;
    padding: 10px 10px 10px 10px;
    border: solid 2px;
    margin-top: -3px;
}
.message_right span{
    margin: 20px 15px 0 0;
}
.message_left{
    display: flex;
    align-items: flex-start;
    margin-left: 10px
}
.message_left p{
    max-width: 25em;
    word-wrap: break-word;
    border-radius: 50px;
    background: #d3d3d3;
    margin-left: -40px;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    border: solid 2px;
}
.message_left span{
    margin: 55px  0 0 15px;
}
.typing{
    display: flex;
    position: fixed;
    margin: 0 0 0 700px;
    bottom: 0;
}
.message-form {
    height: 40px;
    margin-left: -60px; /* テキストエリアとボタンの間に右側の余白を設定 */
    width: 700px;
    padding-top: 7px;
    font-size: 30px;
}
.send-button {
    font-size: 20px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    background: #BAD3FF;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
.back-button {
    font-size: 19px;
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: fit-content;
    background: #BAD3FF;
    text-align: center;
    padding: 10px 10px 0 10px;
    text-decoration: none;
    color: black;
}
.back-button:hover {
    background-color: #8EB8FF;
    color: black;
}
